body {
    background-color:lightyellow;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
    color: black;
  }

  .top {
    text-align: center;
  }

  .box{
    border-style:solid;
    width: fit-content;
    height: fit-content;
    background-color: pink;
    border-color: palevioletred;
    padding:1em;
    border-width: 1em;
    margin-top: 2em;
  }

  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;

    display: flex;
    flex-direction: row;
    align-items: center;
  }

@media screen and (min-width:1500px){
    .grid {
      margin: 0 auto;
      padding: 0 20px;
      max-width: 980px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  @media screen and (max-width:400px){
    .grid {
      margin: 0 auto;
      padding: 0 20px;
      max-width: 980px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }