.body{
    width: 100%;
    height: 100% ;
}

img{
width: 100%;
position: relative;
}

.container{
    position: absolute;
    top: 50px;
    left: 50px;
}

.livebox{
    position: absolute;
    top:50px;
    right:50px;
    width: 200px;
    height: 100px;
    position:absolute;
    background-color: white;
    font-size: 100px;
    text-align: center;
}

.box1, .box2, .box3{
    width: 100px;
    height: 100px;
    position: absolute;
    font-size: 36px;
    text-align: center;
}

.box1{
    background-color: white;
}

.box2{
    background-color: white;
    left:100px ;
}

.box3{
    background-color: white;
    left: 200px;
}
